@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.container{
    padding: 5px 75px;
    padding-top: 3.5vw;
}
#calc{
    background-image: url(asset/bg.jpg);
    background-position: center center;
    /* padding: 40px; */
    /* padding-bottom: 10vw; */
    color: rgb(0, 0, 0);
    background-position: 1% 0vw ;
    /* background-size: cover ; */
    background-size: max(1200px, 100vw);
    position: relative;
    background-repeat: no-repeat;
    /* height: 40vw; */
    height: 650px;
    max-width: 100%;
    
}

.box{
    display: flex;
    text-align: justify;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3vw;
    padding-bottom: 30px;
}

.left{
    flex-basis: 42%;
    padding-top: 5vw;
}
.right{
    filter: drop-shadow(10px 10px 10px black);
    position: relative;
    left: 2vw;
    right: 50px;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-bottom: 3vw;
    padding-right: 4vw;
    background-color:rgba(0, 0, 0, 0.116);
    /* flex-basis: 32%; */
    border-radius: 5px;
}

.right .btn{
    background-color: #79b2e7;
    color: black;
    padding: 1vw 2vw;
    font-size: 1.4vw;
    border-radius: 4px;
    border: 1px solid  #79b2e7;
    font-weight: 600;
    position: relative;
    width: 2.3%;
    /* height: 50px; */
    margin: 0.1%;
    cursor: pointer;
    /* bottom: 5%; */
}

input[type="text"] {
    padding-top: 10px;
    width: 110%;
    height: 3.5vw;
    
    text-align: right;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.719);
}

.right .right-move{
    position: relative;
    left: 5.8vw;
    padding-bottom: .5vw;
}

.right .right-move button {
    justify-content: center;
    display: inline-flex;
}
.right button{
    justify-content: center;
    display: inline-flex;
}

.footer{
    background-color: rgba(0, 0, 0, 0.123);
    padding: 20px;
    color: black;
    text-align: center;
}

.Designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}